.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  z-index: 2;
  transition:visibility 0.5s linear, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity:1;
  transition-delay:0s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-btn.svg);
  border: none;
  background-color: transparent;
  opacity: .4;
}

.modal__close-btn:hover {
  transition: opacity 0.3s;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin-top: 8px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-color: #21212166;
  cursor: pointer;
  }

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input_error {
border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  margin-top: 8px;
  color:rgba(255, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  }

.modal__save-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  background-color: #212121;
  border-radius: 8px;
  color: #FCF5E5;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.modal__btn_error {
 background-color: rgba(33, 33, 33, 0.4);
}

.modal__preview-container {
  position: relative;
}

.modal__preview-close-btn {
  position: absolute;
  top: 0;
  right: -30px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url(../images/preview-close.svg);
  border: none;
  background-color: transparent;
  opacity: 1;
}

.modal__preview-close-btn:hover {
  cursor: pointer;
  opacity: .4;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  padding: 4px 8px;
  margin: 8px 0 0 0;
  max-width: fit-content;
  background-color: #212121;
  border-radius: 8px;
  color: #FCF5E5;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-btn {
    width: 100%;
    max-width: none;
  }

  .modal__close-btn {
    top: 20px;
    right: 12px;
  }

  .modal__image {
    max-width: 288px;
  }

  .modal__preview-close-btn {
   top: -40px;
   right: 0px;
  }

  .modal__caption {
    font-size: 16px;
  }
}